# Distribution / packaging
node_modules


Tasks/Task 1/1-getallbooks.png
Tasks/Task 10/task10.png
Tasks/Task 11/task11.png
Tasks/Task 12/task12.png
Tasks/Task 13/task13.png
Tasks/Task 2/2-gedetailsISBN.png
Tasks/Task 3/3-getbooksbyauthor.png
Tasks/Task 4/4-getbooksbytitle.png
Tasks/Task 5/5-getbookreview.png
Tasks/Task 6/6-register.png
Tasks/Task 7/7-login.png
Tasks/Task 8/8-reviewadded.png
Tasks/Task 9/9-deletereview.png
